<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="app">
        <p>Level: {{StarRank}}</p>
        <input type="radio" value="OneStar" v-model="StarRank" />&#11088;<br/>
        <input type="radio" value="TwoStar" v-model="StarRank" />&#11088;&#11088;<br />
        <input type="radio" value="ThreeStar" v-model="StarRank" />&#11088;&#11088;&#11088;<br />
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                StarRank: 'TwoStar'
            }
        })
    </script>
</body>
</html>