@section Styles
{
	  <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

}


FUEN 全端班首頁
<a asp-controller="Home" asp-action="Index" class="btn btn-primary"><i class="fa-solid fa-house"></i> 首頁</a>

